.sidebar {
    grid-area: 2;
    position: sticky;
    top: 128px;
    min-width: 232px;
    max-height: 262px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    &__title {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 0px 0px 15px
    }

    &__label {
        display: flex;
        padding: 10px 15px;
    }

    &__label:hover {
        cursor: pointer;
        background: #F1FCFF;
    }

    &__checkbox {
        margin-right: 10px;
    }
}